* {
    font-family: Arial;
}

body {
    background: rgb(255, 255, 255);
}

#body{
    margin-top: 60px;
    margin-left: 15px;
    margin-right: 15px;
}

#tittle{
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}

#container{
    width: 35vw;
    height: 80%;
    float: left;
}

#graph{
    width: 50vw;
    height: 80%;
    float: right;
}